<div class = "container">

    <p class = "h2" style = "margin-top: 6%"> Contact us! </p> 

    <div class = "container">
        <div class = "row">
            <div class = "col">
                <div class = "card" style = "">

                    <!-- Nome e cognome nell'header-->
                    <div class = "card-header">
                        <h5 class = "card-title"> D'Amico Martina </h5>
                    </div>

                    <!-- Avatar/Foto -->
                    <img src="https://robohash.org/martina.png" class="card-img-top" style = "border-radius: 50%; margin-top:2%; margin-left:auto; margin-right:auto; width:70%; ">
                    <hr>

                    <!-- About me nel body -->
                    <div class = "card-body">
                        <p class = "card-text">
                            Studentessa di Ingegneria Informatica e Automatica presso La Sapienza Università di Roma.
                        </p>
                    </div>

                    <!-- Email istituzionale nel footer -->
                    <div class="card-footer text-muted">
                        damico.1791820@studenti.uniroma1.it
                    </div>
                </div>
            </div>

            <div class = "col">
                <div class = "card" style = "">

                    <!-- Nome e cognome nell'header-->
                    <div class = "card-header">
                        <h5 class = "card-title"> Dito Andrea </h5>
                    </div>

                    <!-- Avatar/Foto -->
                    <img src="https://robohash.org/andrea.png" class="card-img-top" style = "border-radius: 50%; margin-top:1.5%; margin-left:auto; margin-right:auto; width:70%; ">
                    <hr>
                    <!-- About me nel body -->
                    <div class = "card-body">
                        <p class = "card-text">
                            Studente di Ingegneria Informatica e Automatica presso l'università di Roma "La Sapienza".
                        </p>
                    </div>

                    <!-- Email istituzionale nel footer -->
                    <div class="card-footer text-muted">
                        dito.1844760@studenti.uniroma1.it
                    </div>
                </div>
            </div>

            <div class = "col">
                <div class = "card" style = "">

                    <!-- Nome e cognome nell'header-->
                    <div class = "card-header">
                        <h5 class = "card-title"> Aloisi Lorenzo </h5>
                    </div>

                    <!-- Avatar/Foto -->
                    <img src="https://robohash.org/lorenzo.png" class="card-img-top" style = "border-radius: 50%; margin-top:1.5%; margin-left:auto; margin-right:auto; width:70%; ">
                    <hr>
                    <!-- About me nel body -->
                    <div class = "card-body">
                        <p class = "card-text"> 
                            Studente di Ingegneria Informatica e Automatica [at] Sapienza, Università di Roma
                        </p>
                    </div>

                    <!-- Email istituzionale nel footer -->
                    <div class="card-footer text-muted">
                        aloisi.1836344@studenti.uniroma1.it
                    </div>
                </div>
            </div>

        </div>        
    </div>

</div>