<%= form_tag post_comments_path, :method => :post do %>
  <div class="container col-5"> 
    <%= label :comment, :comments, 'Comment' %>
    <%= text_field :comment, :comments %>
    <br/><br/>
    <%= submit_tag 'Add comment' %>
  </div>
<% end %>