
<h1 style = "margin-left:29.5%">Editing Post</h1>
    <br>
    <%= render 'form', post: @post %>
    <hr>
<%= link_to 'Home', posts_path, class: "bi bi-house btn btn-default btn-primary " %> 
<%= link_to ' Back', @post, class: " bi bi-arrow-left-circle btn btn-default btn-primary " %> 