<h1>Posts List</h1>

<% @posts.each do |post| %>
  
  <%# usato un parziale in quanto sia index che show fanno riferimento alla stessa interfaccia html post %>
  <%= render 'post', post: post %>
  

<% end %> 




