<div class="container" style = "margin-left:29%; margin-top:0.5%" >

    <h2>Create a new post</h2>
    
</div>


<%= render 'form' %>

<%= link_to 'Home', posts_path, class: "bi bi-house btn btn-default btn-primary " %> 